<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="ApprovalManagementConnection" connectionString="FakeStaging" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Test" value="3" />
  </appSettings>
</configuration>
